/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-oct-2016, 16:22:22
    Author     : Kevo
*/

.ui-layout-pane-north {
    background-color: blue;
    
}

.bannerContent {
   text-align: center;
   color: blue;
   background-image: url(http://www.reformasintegrales.com/wp-content/uploads/2015/12/edificios-de-oficinas-2.png?id=3325) !important;
   
   
   
}

.ui-widget-content:nth-child(1) {
    background: none; 
}
#banner{
    color: blue;
    background: none;
}