/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Oct-2016, 17:09:48
    Author     : Puchoo
*/


.divListados
{
    padding-left: 25px; 
}
.spimDormitorios{
    padding-left: 25px;
}
.separador{
    width: 50%;
}
.btnBuscar{
    
}
.divBtn{
    text-align: center;
}
.ui-g{
    height: 490px;
}
.columnaMostrar1{
    text-align: center;
    width: 10%;
}