/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-oct-2016, 15:29:20
    Author     : Kevo
*/

.ui-menuitem-text {
    font-size: 17px;
}

.menu {
    width: 93.5%;
}