<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:form>
        <p:panel header="Seleccione un propietario:">
            <p:messages />
            <h:panelGrid columns="2" columnClasses="label, value">
                <h:outputText value="DNI: " />
                <p:inputText value="#{AltaInmuebleController.propietario.dniPropietario}" required="true" label="DNI"/>

                <h:outputText value="Tipo de DNI: " />
                <p:inputText value="#{AltaInmuebleController.propietario.tipoDNI}" required="true" label="Tipo de DNI"/>

                <h:outputText value="Nombre: *" />
                <p:inputText value="#{AltaInmuebleController.propietario.nombre}" required="true" label="Nombre"/>

                <h:outputText value="Apellido: *" />
                <p:inputText value="#{AltaInmuebleController.propietario.apellido}" required="true" label="Apellido"/>

                <h:outputText value="Email: " />
                <p:inputText value="#{AltaInmuebleController.propietario.email}" required="true" label="Email" />

                <h:outputText value="Telefono: " />
                <p:inputText value="#{AltaInmuebleController.propietario.telefono}" required="true" label="Telefono" />
                
                <h:outputText value="Codigo de area: " />
                <p:inputText value="#{AltaInmuebleController.propietario.codArea}" required="true" label="Cod Area" />
            </h:panelGrid>
        </p:panel>
    </h:form>

</ui:composition>
