<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/resources/templates/templateBasico.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="content">
        <h:form>
            <p:growl id="growl" sticky="true" showDetail="true"/>
            <p:wizard flowListener="#{AltaInmuebleController.onFlowProcess}">
                <p:tab id="propietario" title="Propietario">
                    <p:panel header="Informacion del propiertario">
                        <p:messages />
                        <h:panelGrid columns="2" columnClasses="label, value">
                            <h:outputText value="DNI: " />
                            <p:inputText value="#{AltaInmuebleController.propietario.dniPropietario}" required="true" label="DNI"/>
                            
                            <h:outputText value="Tipo de DNI: " />
                            <p:inputText value="#{AltaInmuebleController.propietario.tipoDNI}" required="true" label="Tipo de DNI"/>
                            
                            <h:outputText value="Nombre: *" />
                            <p:inputText value="#{AltaInmuebleController.propietario.nombre}" required="true" label="Nombre"/>

                            <h:outputText value="Apellido: *" />
                            <p:inputText value="#{AltaInmuebleController.propietario.apellido}" required="true" label="Apellido"/>

                            <h:outputText value="Email: " />
                            <p:inputText value="#{AltaInmuebleController.propietario.email}" required="true" label="Email" />

                            <h:outputText value="Telefono: " />
                            <p:inputText value="#{AltaInmuebleController.propietario.telefono}" required="true" label="Telefono" />
                        </h:panelGrid>
                    </p:panel>
                </p:tab>
                
<!-- TO DO - En standby hasta que me respondan las consultas
                <p:tab id="address" title="Direccion propietario">
                    <p:panel header="Detalles de la ubicacion">
                        <p:messages />
                        <h:panelGrid columns="2" columnClasses="label, value">
                            <h:outputText value="Street: " />
                            <p:inputText value="#{AltaInmuebleController.propietario.ubicacion}" />

                            <h:outputText value="Postal Code: " />
                            <p:inputText value="#{AltaInmuebleController.user.postalCode}" />

                            <h:outputText value="City: " />
                            <p:inputText value="#{AltaInmuebleController.user.city}" />

                            <h:outputText value="Skip to last: " />
                            <h:selectBooleanCheckbox value="#{AltaInmuebleController.skip}" />
                        </h:panelGrid>
                    </p:panel>
                </p:tab>
-->

                <p:tab id="contact" title="Inmueble">
                    <p:panel header="Detalles del inmueble">
                        <p:messages />
                        <h:panelGrid columns="2" columnClasses="label, value">
                            <h:outputText value="Precio venta: *" />
                            <p:inputText value="#{AltaInmuebleController.inmueble.precioVenta}" required="true" label="Precio Venta"/>

                            <h:outputText value="Metros frente: " />
                            <p:inputText value="#{AltaInmuebleController.inmueble.metrosFrente}" required="true" label="Metros frente"/>

                            <h:outputText value="Metros fondo: " />
                            <p:inputText value="#{AltaInmuebleController.inmueble.metrosFondo}" required="true" label="Metros fondo"/>
                            
                            <h:outputText value="Metros Superficie: " />
                            <p:inputText value="#{AltaInmuebleController.inmueble.metrosSuperficie}" required="true" label="Metros Superficie"/>
                            
                            <h:outputText value="Metros Superficie de la propiedad: " />
                            <p:inputText value="#{AltaInmuebleController.inmueble.metrosSuperficiePropiedad}" required="true" label="Metros Superficie de la propiedad"/>
                            
                            <h:outputText value="Cantidad de baños: " />
                            <p:inputText value="#{AltaInmuebleController.inmueble.cantBaños}" required="true" label="Cantidad de baños"/>
                            
                            <h:outputText value="Cantidad de dormitorios: " />
                            <p:inputText value="#{AltaInmuebleController.inmueble.cantBaños}" required="true" label="Cantidad de dormitorios"/>
                            
                            <h:outputText value="Años de antiguedad: " />
                            <p:inputText value="#{AltaInmuebleController.inmueble.antiguedad}" required="true" label="Antiguedad"/>
                        </h:panelGrid>
                    </p:panel>
                </p:tab>
<!--
                <p:tab id="confirm" title="Confirmation">
                    <p:panel header="Confirmation">
                        <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Firstname: " />
                                <h:outputText value="#{AltaInmuebleController.user.firstname}" styleClass="outputLabel"/>

                                <h:outputText value="Lastname: " />
                                <h:outputText value="#{AltaInmuebleController.user.lastname}" styleClass="outputLabel"/>

                                <h:outputText value="Age: " />
                                <h:outputText value="#{AltaInmuebleController.user.age}" styleClass="outputLabel"/>
                            </h:panelGrid>

                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Street: " />
                                <h:outputText value="#{AltaInmuebleController.user.street}" styleClass="outputLabel"/>

                                <h:outputText value="Postal: " />
                                <h:outputText value="#{AltaInmuebleController.user.postalCode}" styleClass="outputLabel"/>

                                <h:outputText value="City: " />
                                <h:outputText value="#{AltaInmuebleController.user.city}" styleClass="outputLabel"/>
                            </h:panelGrid>

                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Email: " />
                                <h:outputText value="#{AltaInmuebleController.user.email}" styleClass="outputLabel"/>

                                <h:outputText value="Phone " />
                                <h:outputText value="#{AltaInmuebleController.user.phone}" styleClass="outputLabel"/>

                                <h:outputText value="Info: " />
                                <h:outputText value="#{AltaInmuebleController.user.info}" styleClass="outputLabel"/>

                                <h:outputText />
                                <h:outputText />
                            </h:panelGrid>
                        </h:panelGrid>
                        <p:commandButton value="Submit" actionListener="#{AltaInmuebleController.guardarInmueble}" update="growl" process="@this"/>
                    </p:panel>
                </p:tab>
-->
            </p:wizard>

        </h:form>

        <script type="text/javascript">
            function logout(xhr, status, args) {
                setTimeout(function () //Agrego un mini sleep antes de abrir la pantalla
                {
                    window.location = '../inicio.xhtml';
                }, 500);
            }
        </script>
    </ui:define>

    <ui:define name="west">
        <ui:include src="../componentesPrincipales/menu.xhtml"></ui:include>
    </ui:define>
</ui:composition>
