<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/resources/templates/templateBasico.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:outputStylesheet name="css/menuLayout.css" />
    <head>
        <title>Catalogo</title>
    </head>
    <ui:define name="west" >
        <ui:include src="/componentesPrincipales/menu.xhtml"></ui:include>
    </ui:define>

    <ui:define name="content">
        
        <p:dataList value="#{catalogoController.listaCatalogo}" var="inm" type="unordered" itemType="none" paginator="true" rows="10" styleClass="paginated">
            
        <f:facet name="header">
            Catalogo de Inmuebles
        </f:facet>
        <p:panelGrid  columns="2" rendered="#{not empty inm}" columnClasses="label,value" >
             
            
                <h:outputText value="Tipo: " />
                <h:outputText value="#{inm.tipo}" />
                
                <h:outputText value="Ubicado en: " />
                <h:outputText value="#{inm.ubicacion.localidad.nombre}, #{inm.ubicacion.provincia.nombre}" />
                
                <h:outputText value="Propietario: " />
                <h:outputText value="#{inm.propietario.nombre} #{inm.propietario.apellido}" />
                                
                <h:outputText value="Galeria: " />
                <p:galleria id="galeriaFotos" value="#{catalogoController.listaFotos(inm)}" var="image" panelWidth="500" panelHeight="313" showCaption="true">
                    <p:graphicImage library="casas" name="casa#{image}.jpg" alt="Imagen del Inmueble" title="Estado: #{inm.estadoInmueble}"/>
                    
                </p:galleria>                   
          </p:panelGrid>
          <br></br>                   
          <br></br>
    </p:dataList>
    
    </ui:define>
</ui:composition>
