<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/resources/templates/templateBasico.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">            
    <head>
        <title>Llenar BD</title>
    </head>
    <ui:define name="west">
        <ui:include src="/componentesPrincipales/menu.xhtml"></ui:include>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">
            <p:commandButton value="Llenar" id="btnLlenar" actionListener="#{LlenarBD.main}" styleClass="ui-priority-primary" />
 
        </h:form>
    </ui:define>


</ui:composition>
