<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/resources/templates/templateBasico.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
    <head>
        <title>Reservar Inmueble</title>
    </head>
    
    <ui:define name="west" class="menuContainer">
        <ui:include src="/componentesPrincipales/menu.xhtml"></ui:include>
    </ui:define>
    
    <ui:define name="content">
        <h:form id="form">
            
            <p:panel id="panelConfirmacion" header="Ingrese los datos para completar la reserva ">
                <h:panelGrid columns="3" columnClasses="label, value" id="contenido">

                </h:panelGrid>
                
                <p:outputLabel for="inputNombreCliente" value="Ingrese nombre del cliente:" /> 
                <p:inputText id="inputNombreCliente" value="#{reservarInmuebleController.cliente.nombre}" required="true"  requiredMessage="Por favor, ingrese el nombre del cliente"/>
                <p:message for="inputNombreCliente" display="icon"/>  
                
                <p:outputLabel for="inputApellidoCliente" value="Ingrese apellido del cliente:" /> 
                <p:inputText id="inputApellidoCliente" value="#{reservarInmuebleController.cliente.apellido}" required="true"  requiredMessage="Por favor, ingrese el apellido del cliente"/>
                <p:message for="inputApellidoCliente" display="icon"/>
                
                <p:outputLabel for="inputEmailCliente" value="Ingrese email del cliente:" /> 
                <p:inputText id="inputEmailCliente" value="#{reservarInmuebleController.cliente.email}" required="true"  requiredMessage="Por favor, ingrese el email del cliente"/>
                <p:message for="inputEmailCliente" display="icon"/>
                
                <p:outputLabel for="inputMonto" value="Ingrese el monto con el que desea reservar:" /> 
                <p:inputText id="inputMonto" value="#{reservarInmuebleController.monto}" required="true"  requiredMessage="Por favor, ingrese el monto de la reserva" placeholder="Ingrese monto"/>
                <p:message for="inputMonto" display="icon"/>
                
                <p:outputLabel for="inputDuracion" value="Ingrese la cantidad de dias que tendra validez la reserva:" /> 
                <p:spinner id="inputDuracion" value="#{reservarInmuebleController.duracion}" min="0" max="100" size="1" required="true"  requiredMessage="Por favor, ingrese la duracion de la reserva (en dias)" />
                <p:message for="inputDuracion" display="icon"/>
                
                <h:panelGrid columns="1">
                    <p:outputLabel value="Esta seguro que desea reservar este inmueble?" />
                    <p:commandButton id="botonConfirmar" value="Reservar" actionListener="#{reservarInmuebleController.reservarInmueble}"
                                     oncomplete="PF('transaccShow').show()" update="ovPanel" />
                </h:panelGrid>
                
                <p:blockUI block="centroPantalla" trigger="botonConfirmar" widgetVar="block" blocked="#{reservarInmuebleController.loaderActivo}">
                        <p:graphicImage library="imagenes" name="load.gif"/>  
                </p:blockUI>
                
            </p:panel>
            
            
            <p:dialog widgetVar="transaccShow" id="ovPanel" showEffect="fade" hideEffect="fade" closable="false" draggable="false" modal="false" visible="false" > 
                <p:outputPanel id="msjDisplay" style="text-align:center;">
                    <p:panelGrid  columns="1" rendered="true" columnClasses="value">
                        <h:outputText value="#{reservarInmuebleController.mensaje}" />
                    </p:panelGrid>
                    
                    <p:panelGrid columns="2" rendered="true" columnClasses="value">
                        <p:commandButton id="botonAceptar" value="Aceptar" actionListener="#{reservarInmuebleController.limpiarCampos}" onclick="window.open('/metodosagiles/inicio.xhtml', '_self')" />
                        <p:commandButton id="botonImprimir" value="Imprimir comprobante" />
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
            
        </h:form>
    </ui:define>

    <script type="text/javascript">
        function handleSaveRequest(xhr, status, args)
        {
            if(args.bajaReady)
            {
                setTimeout(function () {
                    window.location = args.view;
                }, 500);
            }
            else{
                setTimeout(function () {
                    window.location = args.fail;
                }, 500); 
            }
        }
    </script>
</ui:composition>