<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Gestion de inmuebles</title>
    </h:head>
    <h:body>        
        <h:outputStylesheet name="css/bannerLayout.css" />
        
        <p:layout fullPage="true">
            
            <p:layoutUnit class="bannerContent" position="north" size="100" resizable="true" closable="false" collapsible="false">
                 <ui:insert id="banner" name="north">
                     <h:outputText value="Bienvenido al sistema de gestion de inmuebles." style="color: white; font-weight: bold; font-size: 30px; text-shadow: 1px 1px #000000"/>
                 </ui:insert>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="100" header="Bottom" resizable="true" closable="false" collapsible="true" visible="false">
                 <ui:insert name="south">Put default content here, if any.</ui:insert>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" size="200" header="Menu" resizable="false" closable="false" collapsible="false">
                 <ui:insert name="west">
                    <ui:include src="/componentesPrincipales/menu.xhtml"></ui:include>
                </ui:insert>
            </p:layoutUnit>
            
            <p:layoutUnit position="east" size="200" header="Right" resizable="true" closable="false" collapsible="true" effect="drop" visible="false">
                <ui:insert name="east">Put default content here, if any.</ui:insert>
            </p:layoutUnit>
            
            <p:layoutUnit id="centroPantalla" position="center">
                <ui:insert name="content">Put default content here, if any.</ui:insert>
            </p:layoutUnit>
            
        </p:layout>
    </h:body>
</html>
