<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/resources/templates/templateBasico.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:outputStylesheet name="css/menuLayout.css" />
    <head>
        <title>Consultar Inmueble</title>
    </head>
    <ui:define name="west" >
        <ui:include src="/componentesPrincipales/menu.xhtml"></ui:include>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">
       <h:outputStylesheet name="css/consultaLayout.css" />
       
       <p:overlayPanel widgetVar="inmShow" id="ovPanel" for="Localidad" my="left top" at="right top" showEffect="fade" hideEffect="fade" dismissable="false" showCloseIcon="true">
        <p:outputPanel id="inmDetail" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{not empty consultaInmuebleController.inmSeleccionado}" columnClasses="label,value">
 
                <h:outputText value="Tipo: " />
                <h:outputText value="#{consultaInmuebleController.inmSeleccionado.tipo}" />
                
                <h:outputText value="Ubicado en: " />
                <h:outputText value="#{consultaInmuebleController.inmSeleccionado.ubicacion.localidad.nombre}, #{consultaInmuebleController.inmSeleccionado.ubicacion.provincia.nombre}" />
                
                <h:outputText value="Propietario: " />
                <h:outputText value="#{consultaInmuebleController.inmSeleccionado.propietario.nombre} #{consultaInmuebleController.inmSeleccionado.propietario.apellido}" />
                
                <h:outputText value="Estado: " />
                <h:outputText value="#{consultaInmuebleController.inmSeleccionado.estadoInmueble}" />
                                
                <h:outputText value="Galeria: " />
                <p:galleria value="#{consultaInmuebleController.inmSeleccionadoFotos}" var="image" panelWidth="500" panelHeight="313" showCaption="true">
                    <p:graphicImage value="#{image.inmSeleccionadoFotos}" alt="Imagen del Inmueble" title="Estado: #{consultaInmuebleController.inmSeleccionado.estadoInmueble}">
                        <f:param name="Id" value="#{image.idImagen}"/>
                    </p:graphicImage>
                </p:galleria>
            </p:panelGrid>
            <p:panelGrid  columns="3" rendered="#{not empty consultaInmuebleController.inmSeleccionado}" columnClasses="label,value">
                <p:commandButton id="botonVerDetalles" value="Ver detalles" actionListener="#{consultaInmuebleController.verDetallesInmueble}" onclick="window.open('/metodosagiles/seguras/alta_inmueble/alta_inmueble.xhtml', '_self')" />
                <p:commandButton id="botonEliminar" value="Eliminar" actionListener="#{consultaInmuebleController.eliminarInmueble}" onclick="window.open('/metodosagiles/seguras/baja_inmueble/baja_inmueble.xhtml', '_self')" />
                <p:commandButton id="botonReservar" value="Reservar" actionListener="#{consultaInmuebleController.reservarInmueble}" onclick="window.open('/metodosagiles/seguras/reservar_inmueble/reservar_inmueble.xhtml', '_self')" disabled="#{consultaInmuebleController.disableReservar}"/>
            </p:panelGrid>
        </p:outputPanel>
    </p:overlayPanel>
       
    <p:messages autoUpdate="true" />
<div class="ui-g" id="divPrincipal">
    <div class="ui-g-3" id="divBuscar">
            <div class="divListados">
                       
                   <p:selectOneMenu id="tipo" value="#{consultaInmuebleController.tipo}" style="width:125px">
                        <f:selectItem itemLabel="Elija un tipo de inmueble" itemValue="" noSelectionOption="true" />
                        <f:selectItem itemLabel="Local-Oficina" itemValue="LO" />
                        <f:selectItem itemLabel="Casa" itemValue="C" />
                        <f:selectItem itemLabel="Departamento" itemValue="D" />
                        <f:selectItem itemLabel="Terreno" itemValue="T" />
                        <f:selectItem itemLabel="Quinta" itemValue="Q" />
                        <f:selectItem itemLabel="Galpon" itemValue="G" />
                   </p:selectOneMenu>
                   <br></br> <br></br> 
                   <p:outputLabel value="Localidad:"/>
                   <br></br>                   
                   
                    <p:selectOneMenu id="provincia" value="#{consultaInmuebleController.idProvincia}"  style="width:125px">
                        <p:ajax listener="#{consultaInmuebleController.provinciaSelectedChanged}" update="Localidad"/>
                        <f:selectItem itemLabel="Elija una provincia" itemValue="-1" noSelectionOption="false"/>
                        <f:selectItems value="#{consultaInmuebleController.listaProvincia}" var="prov" itemValue="#{prov.idProvincia}" itemLabel="#{prov.nombre}"/>
                    </p:selectOneMenu>
                   <br></br>
                   
                   <p:selectOneMenu id="Localidad" value="#{consultaInmuebleController.idLocalidad}" style="width:125px" disabled="#{consultaInmuebleController.disableLocalidad}">
                       <p:ajax listener="#{consultaInmuebleController.localidadSelectedChanged}" update="Barrio" />
                        
                        <f:selectItem itemLabel="Elija una localidad" itemValue="-1" noSelectionOption="false"/>
                        <f:selectItems value="#{consultaInmuebleController.listaLocalidad}" var="loc" itemValue="#{loc.idLocalidad}"/>
                    </p:selectOneMenu>
                   <br></br>
                   
                   <p:inputText id="Barrio" value="" placeholder="Barrio" style="width: 125px" disabled="#{consultaInmuebleController.disableBarrio}"/>
                   </div>
                    <br></br>
                   <p:separator class="separador"/>
                   <br></br>
                   <div class="spimDormitorios">
                       <p:outputLabel value="Cant Dormitorios:"/>
                       <br></br>
                       <p:spinner id="Dormitorios" value="#{consultaInmuebleController.numDormitorio}" min="0" max="20" size="10"/>
                   </div>
                   <br></br>
                   <p:separator class="separador"/>
                    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                       <p:outputLabel for="precio" value="Precio:" />
                       <p:selectOneRadio id="precio" value="#{consultaInmuebleController.precio}" layout="grid" columns="1">
                           <f:selectItem itemLabel="0 a 100.000" itemValue="1" />
                           <f:selectItem itemLabel="100.000 a 300.000" itemValue="2" />
                           <f:selectItem itemLabel="Mayor a 300.000" itemValue="3" />
                       </p:selectOneRadio>
                    </h:panelGrid>
                   <p:separator class="separador"/>
                   <br></br>
                   <div class="divBtn">
                       <p:commandButton id="btnBuscar" value="Buscar" icon="ui-icon-search" actionListener="#{consultaInmuebleController.buscarListener}" update="infoTable"/>
                   </div>
                   
     <p:commandButton id="btnVerCatalogo" value="Ver Catalogo" action="#{consultaInmuebleController.pasarCatalogo}" onclick="window.open('/metodosagiles/seguras/catalogo/catalogo.xhtml', '_self')" /> <!-- disabled="#{consultaInmuebleController.disableVerCatalogo}" -->
    </div>
    <p:spacer width="1" height="505" style="position: relative; bottom: auto;background-color: #A8A8A8; margin-left: 10px;margin-right: 10px" />
    <div class="ui-g-8">
        <p:dataTable id="infoTable" rowKey="#{inm.idInmueble}" var="inm" value="#{consultaInmuebleController.listaResultado}" 
                     selectionMode="single" selection="#{consultaInmuebleController.inmSeleccionado}">
            <p:ajax event="rowDblselect"  listener="#{consultaInmuebleController.onRowDblClckSelect}"  global="false" update=":form:ovPanel"/>
          
            <p:column headerText="Id" class="columnaMostrar1">
                <h:outputText value="#{inm.idInmueble}" />
            </p:column>
            
            <p:column headerText="Tipo" class="columnaMostrar">
                <h:outputText value="#{inm.tipo}" />
            </p:column>

            <p:column headerText="Localidad" class="columnaMostrar">
                <h:outputText value="#{inm.ubicacion.localidad}" />
            </p:column>

            <p:column headerText="Precio" class="columnaMostrar">
                <h:outputText value="#{inm.precioVenta}" />
            </p:column>
            
            <p:column headerText="" class="columnaMostrar">
                <p:commandButton id="botonAñadir"  value="Añadir a Catalogo" icon="ui-icon-plus" actionListener="#{consultaInmuebleController.agregarParaCatalogo(inm)}" update="botonBorrar botonAñadir"/>
                <p:commandButton id="botonBorrar"  value="Borrar de Catalogo" icon="ui-icon-trash" actionListener="#{consultaInmuebleController.borrarDeCatalogo(inm)}" update="botonAñadir botonBorrar"/>
            </p:column>
            
            
        </p:dataTable>
        
       
        <p:blockUI block="centroPantalla" trigger="btnBuscar" widgetVar="block" >
            <p:graphicImage library="imagenes" name="load.gif"/>  
        </p:blockUI>
        
    </div>  
</div>
    
    
</h:form>
        
        <script type="text/javascript">
            function refrescar()
            {
                setTimeout(function () //Agrego un mini sleep antes de abrir la pantalla
                {
                    window.open('/metodosagiles/seguras/consultar_Inmueble/consultar_inmueble.xhtml', '_self');
                }, 2000);
            }
        </script>
        
    </ui:define>


</ui:composition>
