<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:panel header="Ubicacion del inmueble">
        <!-- <h:panelGrid columns="3" columnClasses="label, value">  -->
        <h:panelGrid columns="2">
            <h:panelGrid columns="3">
                <p:outputLabel for="listaProvincias" value="Provincia:" />
                <p:selectOneMenu id="listaProvincias" value="#{controllerUbicacion.idProvincia}" required="true" requiredMessage="Debe seleccionar una provincia!" >
                    
                    <p:ajax listener="#{controllerUbicacion.provinciaSelectedChanged}" update="listaCiudades" />
                    <f:selectItem itemLabel="Elija una Provincia" itemValue="0" noSelectionOption="true"  />
                    <f:selectItems value="#{controllerUbicacion.listaProvincias}" var="provincia" 
                                   itemLabel="#{provincia.nombre}" itemValue="#{provincia.idProvincia}" />
                    
                </p:selectOneMenu>
                <p:message for="listaProvincias"/>
                
                <p:outputLabel for="listaCiudades" value="Localidad:" />
                <p:selectOneMenu id="listaCiudades" value="#{controllerUbicacion.idLocalidad}" required="true" requiredMessage="Debe seleccionar una ciudad!" >
                    
                    <p:ajax listener="#{controllerUbicacion.ciudadSelectedChanged}" update="inputLocalidad" />
                    <f:selectItem itemLabel="Elija una localidad" itemValue="0" noSelectionOption="true"  />
                    <f:selectItems value="#{controllerUbicacion.listaLocalidades}" var="localidad" 
                                   itemLabel="#{localidad.nombre}" itemValue="#{localidad.idLocalidad}" />
                    <f:selectItem itemLabel="Otra" itemValue="-1" />
                </p:selectOneMenu>
                <p:message for="listaCiudades"/>    
                
                <p:outputLabel for="inputLocalidad" value="Ingrese nueva localidad:" /> 
                <p:inputText id="inputLocalidad" value="#{controllerUbicacion.nombreLocalidad}" required="true"  requiredMessage="Por favor, ingrese la localidad" placeholder="Ingrese localidad" disabled="#{controllerUbicacion.seDeshabilitaInputLocalidad}" />
                <p:message for="inputLocalidad" display="icon"/>   


            </h:panelGrid>
            <h:panelGrid columns="3" >

                <p:outputLabel for="calle" value="Calle:" /> 
                <p:inputText id="calle" value="#{controllerUbicacion.nombreCalle}" required="true" requiredMessage="Por favor, ingrese la calle"  />
                <p:message for="calle" display="icon"/>   


                <p:outputLabel for="numero" value="Numero:" /> 
                <p:inputText id="numero" value="#{controllerUbicacion.nroCalle}" required="false" requiredMessage="Por favor, ingrese el numero" disabled="#{controllerUbicacion.seCargaInterseccion == true}"/>
                <p:message for="numero" display="icon"/>   

                <p:outputLabel for="barrio" value="Barrio:" /> 
                <p:inputText id="barrio" value="#{controllerUbicacion.barrio}" required="false" requiredMessage="Por favor, ingrese el barrio" />
                <p:message for="barrio" display="icon"/>   
                
                <p:outputLabel for="pisoDepto" value="Numero de piso:" /> 
                <p:inputText id="pisoDepto" value="#{controllerUbicacion.pisoDepto}" required="false" requiredMessage="Por favor, ingrese el numero de piso" />
                <p:message for="pisoDepto" display="icon"/>   
                
                <p:outputLabel for="calleInterseccion1" value="Calle interseccion 1:" /> 
                <p:inputText id="calleInterseccion1" value="#{controllerUbicacion.calleInterseccion1}" required="false" requiredMessage="Por favor, ingrese la calle" disabled="#{controllerUbicacion.seCargaInterseccion == false}"/>
                <p:message for="calleInterseccion1" display="icon"/>   

                <p:outputLabel for="calleInterseccion2" value="Calle interseccion 2:" /> 
                <p:inputText id="calleInterseccion2" value="#{controllerUbicacion.calleInterseccion2}" required="false" requiredMessage="Por favor, ingrese la calle" disabled="#{controllerUbicacion.seCargaInterseccion == false}"/>
                <p:message for="calleInterseccion2" display="icon"/>   
                
                <p:outputLabel value="Cargar interseccion?:" />
                <p:selectBooleanCheckbox value="#{controllerUbicacion.seCargaInterseccion}">
                    <p:ajax update="numero calleInterseccion1 calleInterseccion2"  />
                </p:selectBooleanCheckbox>        
            </h:panelGrid>
        </h:panelGrid>
    </p:panel>

</ui:composition>
