<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:panel header="Datos del inmueble">
        <p:messages id="msgsValidacion"/>
        <!-- <h:panelGrid columns="3" columnClasses="label, value">  -->
        <h:panelGrid columns="3">
            <h:panelGrid columns="3">
                <p:outputLabel for="precioVenta" value="Precio venta:" />
                <p:inputText id="precioVenta" value="#{AltaInmuebleController.inmueble.precioVenta}" label="Precio de venta"  required="true" requiredMessage="Se debe ingresar un monto de venta!" placeholder="Precio de venta (ARS)" />
                <p:message for="precioVenta" display="icon"/>

                <p:outputLabel for="metrosFrente" value="Metros frente:" />
                <p:inputText id="metrosFrente" value="#{AltaInmuebleController.inmueble.metrosFrente}" required="false" label="Metros frente"/>
                <p:message for="metrosFrente" display="icon"/>

                <p:outputLabel for="metrosFondo" value="Metros fondo:" />
                <p:inputText id="metrosFondo" value="#{AltaInmuebleController.inmueble.metrosFondo}" required="false" label="Metros fondo"/>
                <p:message for="metrosFondo" display="icon"/>

                <p:outputLabel for="metrosSuperficie" value="Metros superficie terreno:" /> 
                <p:inputText id="metrosSuperficie" value="#{AltaInmuebleController.inmueble.metrosSuperficie}" required="false" label="Metros Superficie"/>
                <p:message for="metrosSuperficie" display="icon"/>

                <p:outputLabel for="metrosSuperficiePropiedad" value="Metros superficie edificado:" /> 
                <p:inputText id="metrosSuperficiePropiedad" value="#{AltaInmuebleController.inmueble.metrosSuperficiePropiedad}" required="false" label="Metros Superficie de la propiedad"/>
                <p:message for="metrosSuperficiePropiedad" display="icon"/>

                <p:outputLabel for="cantBanios" value="Cantidad de baños:" /> 
                <p:inputText id="cantBanios" value="#{AltaInmuebleController.inmueble.cantBanios}" required="false" label="Cantidad de baños"/>
                <p:message for="cantBanios" display="icon"/>

                <p:outputLabel for="cantDormitorios" value="Cantidad de dormitorios:" />
                <p:inputText id="cantDormitorios" value="#{AltaInmuebleController.inmueble.cantDormitorios}" required="false" label="Cantidad de dormitorios"/>
                <p:message for="cantDormitorios" display="icon"/>

                <p:outputLabel for="aniosAntiguedad" value="Años de antiguedad:" /> 
                <p:inputText id="aniosAntiguedad" value="#{AltaInmuebleController.inmueble.antiguedad}" required="false" label="Antiguedad"/>
                <p:message for="aniosAntiguedad" display="icon"/>
            </h:panelGrid>
            <h:panelGrid columns="3">
                
                <p:outputLabel for="listaOrientacion" value="Orientacion:" />
                <p:selectOneMenu id="listaOrientacion" value="#{AltaInmuebleController.inmueble.orientacion}"  required="true" requiredMessage="Debe seleccionar una orientacion!" >
                    <f:selectItem itemLabel="Elija una orientacion" itemValue="" noSelectionOption="true" />
                    <f:selectItem itemLabel="Norte" itemValue="Norte" />
                    <f:selectItem itemLabel="Sur" itemValue="Sur" />
                    <f:selectItem itemLabel="Este" itemValue="Este" />
                    <f:selectItem itemLabel="Oeste" itemValue="Oeste" />
                    <f:selectItem itemLabel="Noreste" itemValue="Noreste" />
                    <f:selectItem itemLabel="Noroeste" itemValue="Noroeste" />
                    <f:selectItem itemLabel="Sureste" itemValue="Sureste" />
                    <f:selectItem itemLabel="Suroeste" itemValue="Suroeste" />
                </p:selectOneMenu>
                
            </h:panelGrid>
        </h:panelGrid>
    </p:panel>


</ui:composition>
