<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/resources/templates/templateBasico.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:outputStylesheet name="css/menuLayout.css" />
    <head>
        <title>Alta Inmueble</title>
    </head>
    <ui:define name="west" class="menuContainer">
        <ui:include src="/componentesPrincipales/menu.xhtml"></ui:include>
    </ui:define>

    <ui:define name="content">
        <h:form >
            <p:growl id="growl" sticky="true" showDetail="true" />
            <p:wizard flowListener="#{AltaInmuebleController.onFlowProcess}" widgetVar="wizard" >
                <!--    TODO CARGAR DATOS USUARIO DEFAULT -->

                <p:tab id="propietario" title="Propietario" >
                    <!-- Funcion que desactiva el boton next -->
                    <p:remoteCommand oncomplete="desactivarBotonNext()" autoRun="#{!AltaInmuebleController.banderaEsModificacion}"/>
                    <ui:include src="alta_inmueble_propietario.xhtml"></ui:include>
                </p:tab>

                <p:tab id="ubicacion" title="Ubicacion">
                    <ui:include src="alta_inmueble_datos_ubicacion.xhtml"></ui:include>
                </p:tab>

                <p:tab id="inmueble" title="Inmueble">
                    <ui:include src="alta_inmueble_datos_basicos.xhtml"></ui:include>
                </p:tab>

                <p:tab id="inmuebleDetalles" title="Detalles Inmueble">
                    <ui:include src="alta_inmueble_detalles.xhtml"></ui:include>
                </p:tab>

                <p:tab id="confirmacion" title="Confirmacion">
                    <ui:include src="alta_inmueble_confirmacion.xhtml"></ui:include>
                </p:tab>
            </p:wizard>
        </h:form>

        <script type="text/javascript">
            function logout(xhr, status, args) {
                setTimeout(function () //Agrego un mini sleep antes de abrir la pantalla
                {
                    window.location = '../inicio.xhtml';
                }, 500);
            }
            function desactivarBotonNext()
            {
                PF('wizard').nextNav.css("visibility", "hidden")
            }
            function activarBotonNext()
            {
                setTimeout(function () {
                PF('wizard').nextNav.css("visibility", "visible")
              //  PF('wizard').next();
                }, 500); 
            }
        </script>
    </ui:define>


</ui:composition>
