<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:form>
        <h:panelGrid columns="2">
            <p:panel header="Seleccione un propietario:" widgetVar="panelPropietarios" >
                <p:messages/>
                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                    <p:outputLabel for="listaPropietarios" value="Lista de propietarios:" />
                    <p:selectOneListbox id="listaPropietarios" value="#{AltaInmuebleController.propietario}" valueChangeListener="#{AltaInmuebleController.propietarioSelectedChanged}"
                                        converter="propietarioConverter" var="filaPropietario" onchange="propietarioSeleccionado()" 
                                        filter="true" filterMatchMode="contains" widgetVar="listaPropietarios" >
                        <p:ajax update="infoNombreProp infoApellidoProp infoDniProp infoTelefonoProp infoEmailProp" />
                        <f:selectItems value="#{listaPropietariosController.propietarios}" var="propietario" itemLabel="#{propietario.apellido}" itemValue="#{propietario}" />
                        <!-- Info a mostrar de los propietarios-->
                        <p:column>
                            <h:outputText value="#{filaPropietario.nombre} #{filaPropietario.apellido}" />
                        </p:column>
                    </p:selectOneListbox>
                </h:panelGrid>
            </p:panel>
            
            <p:panel header="Informacion del propietario seleccionado:" widgetVar="infoPropietario" >
                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                    <p:outputLabel value="Nombre:" />
                    <p:outputLabel id="infoNombreProp" value="#{AltaInmuebleController.propietario.nombre}" />
                    <p:outputLabel value="Apellido:" />
                    <p:outputLabel id="infoApellidoProp" value="#{AltaInmuebleController.propietario.apellido}" />
                    <p:outputLabel value="DNI:" />
                    <p:outputLabel id="infoDniProp" value="#{AltaInmuebleController.propietario.dniPropietario}" />
                    <p:outputLabel value="Telefono:" />
                    <p:outputLabel id="infoTelefonoProp" value="#{AltaInmuebleController.propietario.telefonoCompleto}" />
                    <p:outputLabel value="E-mail:" />
                    <p:outputLabel id="infoEmailProp" value="#{AltaInmuebleController.propietario.email}" />
                </h:panelGrid>
            </p:panel>
        </h:panelGrid> 
    </h:form>

    <script type="text/javascript">
        function propietarioSeleccionado()
        {
            if (#{!facesContext.validationFailed})
            {
                setTimeout(function () {
                    PF('wizard').nextNav.css("visibility", "visible");
                    //   PF('wizard').next();
                }, 500);
            }
        }

    </script>
</ui:composition>
