<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:panel header="Detalles del inmueble">
        <h:panelGrid columns="3" style="display: block; text-align: center">
            <h:panelGrid columns="2" style="margin-bottom:10px">
                <h:outputText value="Propiedad horizontal?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.esPropiedadHorizontal}" />
                <h:outputText value="Tiene garaje?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tieneGaraje}" />
                <h:outputText value="Tiene patio?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tienePatio}" />
                <h:outputText value="Tiene piscina?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tienePiscina}" />
                <h:outputText value="Tiene agua corriente?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tieneAguaCorriente}" />
                <h:outputText value="Tiene agua caliente?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tieneAguaCaliente}" />
                <h:outputText value="Tiene cloacas?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tieneCloacas}" />
                <h:outputText value="Tiene gas natural?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tieneGasNatural}" />
                <h:outputText value="Tiene telefono?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tieneTelefono}" />
                <h:outputText value="Tiene lavadero?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tieneLavadero}" />
                <h:outputText value="Pavimentado?: " />
                <p:selectBooleanCheckbox value="#{ModificarInmuebleController.inmueble.tienePavimento}" />
            </h:panelGrid>
            <h:panelGrid columns="2" style="margin-bottom:10px">
                <p:outputLabel for="listaTipoInmueble" value="Tipo de inmueble:" />
                <p:selectOneListbox id="listaTipoInmueble" value="#{ModificarInmuebleController.inmueble.tipo}">
                    <f:selectItem itemLabel="Local-oficina" itemValue="L" />
                    <f:selectItem itemLabel="Casa" itemValue="C" />
                    <f:selectItem itemLabel="Departamento" itemValue="D" />
                    <f:selectItem itemLabel="Terreno" itemValue="T" />
                    <f:selectItem itemLabel="Quinta" itemValue="Q" />
                    <f:selectItem itemLabel="Galpon" itemValue="G" />
                </p:selectOneListbox>            
            </h:panelGrid>
            <h:panelGrid columns="1">
                <h:outputLabel for="fotosUploader" value="Fotos del inmueble:" />
                <h:form>
                    <p:fileUpload id="fotosUploader" fileUploadListener="#{ModificarInmuebleController.handleFileUpload}" mode="advanced" dragDropSupport="true"
                                  multiple="true" update="messages" sizeLimit="100000" fileLimit="2" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" auto="true" fileLimitMessage="Solo podes subir dos fotos del inmueble" />
                    <p:growl id="messages" showDetail="true" />
                </h:form>
            </h:panelGrid>

        </h:panelGrid>
    </p:panel>


</ui:composition>
