<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:panel header="Ubicacion del inmueble">
        <f:metadata>
            <f:event type="preRenderView" listener="#{controllerUbicacion.modificarUbicacionOnLoad}"/>
        </f:metadata>
        <!-- <h:panelGrid columns="3" columnClasses="label, value">  -->
        <h:panelGrid columns="2">
            <h:panelGrid columns="3">
                <p:outputLabel for="listaProvincias" value="Provincia:" />
                <p:selectOneListbox id="listaProvincias" value="#{controllerUbicacion.idProvincia}" valueChangeListener="#{controllerUbicacion.provinciaSelectedChanged}" required="true" requiredMessage="Debe seleccionar una provincia!" >
                    <f:selectItem itemLabel="Santa Fe" itemValue="1" />
                    <f:selectItem itemLabel="Entre Rios" itemValue="2" />
                    <f:selectItem itemLabel="Corrientes" itemValue="3" />
                    <f:selectItem itemLabel="Misiones" itemValue="4" />
                    <f:selectItem itemLabel="Salta" itemValue="5" />
                    <f:selectItem itemLabel="Catamarca" itemValue="6" />
                    <f:selectItem itemLabel="Mendoza" itemValue="7" />
                    <f:selectItem itemLabel="Buenos aires" itemValue="8" />
                    <f:selectItem itemLabel="Chubut" itemValue="9" />
                    <f:selectItem itemLabel="Rio Negro" itemValue="10" />
                    <f:selectItem itemLabel="Santa Cruz" itemValue="11" />
                    <f:selectItem itemLabel="Santiago del estero" itemValue="12" />
                    <f:selectItem itemLabel="Cordoba" itemValue="13" />
                    <f:selectItem itemLabel="Neuquen" itemValue="14" />
                    <f:selectItem itemLabel="Jujuy" itemValue="15" />
                    <f:selectItem itemLabel="Formosa" itemValue="16" />
                    <f:selectItem itemLabel="La pampa" itemValue="17" />
                    <f:selectItem itemLabel="La rioja" itemValue="18" />
                    <f:selectItem itemLabel="San Juan" itemValue="19" />
                    <f:selectItem itemLabel="San Luis" itemValue="20" />
                    <f:selectItem itemLabel="Tierra del fuego" itemValue="21" />
                    <f:selectItem itemLabel="Chaco" itemValue="22" />
                    <f:selectItem itemLabel="Tucuman" itemValue="23" />
                </p:selectOneListbox>
                <p:message for="listaProvincias"/>
            </h:panelGrid>
            <h:panelGrid columns="3" id="panelDatosUbicacion">

                <p:outputLabel for="listaLocalidades" value="Localidad:" /> 
                <p:inputText id="listaLocalidades" value="#{controllerUbicacion.nombreLocalidad}" required="true"  requiredMessage="Por favor, ingrese la localidad" placeholder="Localidad"/>
                <p:message for="listaLocalidades" display="icon"/>   


                <p:outputLabel for="calle" value="Calle:" /> 
                <p:inputText id="calle" value="#{controllerUbicacion.nombreCalle}" required="false" requiredMessage="Por favor, ingrese la calle" disabled="#{controllerUbicacion.seCargaInterseccion == true}" />
                <p:message for="calle" display="icon"/>   


                <p:outputLabel for="numero" value="Numero:" /> 
                <p:inputText id="numero" value="#{controllerUbicacion.nroCalle}" required="false" requiredMessage="Por favor, ingrese el numero" disabled="#{controllerUbicacion.seCargaInterseccion == true}"/>
                <p:message for="numero" display="icon"/>   

                <p:outputLabel for="barrio" value="Barrio:" /> 
                <p:inputText id="barrio" value="#{controllerUbicacion.barrio}" required="false" requiredMessage="Por favor, ingrese el barrio" />
                <p:message for="barrio" display="icon"/>   

                <p:outputLabel for="pisoDepto" value="Numero de piso:" /> 
                <p:inputText id="pisoDepto" value="#{controllerUbicacion.pisoDepto}" required="false" requiredMessage="Por favor, ingrese el numero de piso" />
                <p:message for="pisoDepto" display="icon"/>   

                <p:outputLabel for="calleInterseccion1" value="Calle interseccion 1:" /> 
                <p:inputText id="calleInterseccion1" value="#{controllerUbicacion.calleInterseccion1}" required="false" requiredMessage="Por favor, ingrese la calle" disabled="#{controllerUbicacion.seCargaInterseccion == false}"/>
                <p:message for="calleInterseccion1" display="icon"/>   

                <p:outputLabel for="calleInterseccion2" value="Calle interseccion 2:" /> 
                <p:inputText id="calleInterseccion2" value="#{controllerUbicacion.calleInterseccion2}" required="false" requiredMessage="Por favor, ingrese la calle" disabled="#{controllerUbicacion.seCargaInterseccion == false}" />
                <p:message for="calleInterseccion2" display="icon"/>   

                <p:outputLabel value="Cargar interseccion?:" />
                <p:selectBooleanCheckbox value="#{controllerUbicacion.seCargaInterseccion}" >
                    <p:ajax update="calle numero calleInterseccion1 calleInterseccion2"  />
                </p:selectBooleanCheckbox>        
            </h:panelGrid>
        </h:panelGrid>
    </p:panel>

</ui:composition>
