<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:form>
        <p:panel header="Modificacion de propietario:" widgetVar="panelPropietarios" >
            <p:messages/>
             <p:outputLabel value="Propietario actual: #{ModificarInmuebleController.propietario.nombre} #{ModificarInmuebleController.propietario.apellido}, desea modificar el propietario? "/>
             <p:selectBooleanCheckbox value="#{ModificarInmuebleController.modificarPropietario}"  onchange="desactivarBotonNext()" >
                <p:ajax update="listaPropietarios"  /> 
            </p:selectBooleanCheckbox>   
            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                <p:outputLabel for="listaPropietarios" value="Lista de propietarios:" />
                <p:selectOneListbox id="listaPropietarios" value="#{ModificarInmuebleController.inmueble}" valueChangeListener="#{ModificarInmuebleController.propietarioSelectedChanged}" onchange="propietarioSeleccionado()"
                                    converter="propietarioConverter" var="filaPropietario" 
                                    filter="true" filterMatchMode="contains" widgetVar="listaPropietarios" disabled="#{!(ModificarInmuebleController.modificarPropietario)}">

                    <f:selectItems value="#{listaPropietariosController.propietarios}" var="propietario" itemLabel="#{propietario.nombre}" itemValue="#{propietario}" />
                    <!-- Info a mostrar de los propietarios-->
                    <p:column>
                        <h:outputText value="#{filaPropietario.nombre} #{filaPropietario.apellido}" />
                    </p:column>
                </p:selectOneListbox>
            </h:panelGrid>
        </p:panel>

    </h:form>

    <script type="text/javascript">
        function propietarioSeleccionado()
        {
            if (#{!facesContext.validationFailed})
            {
                setTimeout(function () {
                    PF('wizard').nextNav.css("visibility", "visible");
                    //   PF('wizard').next();
                }, 500);
            }
        }

    </script>
</ui:composition>
