<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


    <p:panel id="panelConfirmacion" header="Confirme el alta del inmueble">
        <p:messages />
        <h:panelGrid columns="3" columnClasses="label, value" id="contenido">
            <p:outputLabel for="dniConfirmacion" value="DNI:" />
            <h:outputText id="dniConfirmacion" value="#{ModificarInmuebleController.propietario.dniPropietario}" />    
            <p:message for="dniConfirmacion" display="icon"/>

            <p:outputLabel for="nombreConfirmacion" value="Nombre:" />
            <h:outputText id="nombreConfirmacion" value="#{ModificarInmuebleController.propietario.nombre}" />
            <p:message for="nombreConfirmacion" display="icon"/>

            <p:outputLabel for="apellidoConfirmacion" value="Apellido:" />
            <h:outputText id="apellidoConfirmacion" value="#{ModificarInmuebleController.propietario.apellido}" />
            <p:message for="apellidoConfirmacion" display="icon"/>   

            <p:outputLabel for="emailConfirmacion" value="Email:" />
            <h:outputText id="emailConfirmacion" value="#{ModificarInmuebleController.propietario.email}" />
            <p:message for="emailConfirmacion" display="icon"/>

            <p:outputLabel for="precioVentaConfirmacion" value="Precio venta:" />
            <h:outputText id="precioVentaConfirmacion" value="#{ModificarInmuebleController.inmueble.precioVenta}"/>
            <p:message for="precioVentaConfirmacion" display="icon"/>

            <p:outputLabel for="calleInmueble" value="Calle:" />
            <h:outputText id="calleInmueble" value="#{ModificarInmuebleController.inmueble.ubicacion.calleInmueble.nombre}"/>
            <p:message for="calleInmueble" display="icon"/>            
            
        </h:panelGrid>
        <p:commandButton id="botonConfirmar" value="Confirmar" actionListener="#{ModificarInmuebleController.guardarInmueble}" update="growl" 
                         process="@this" oncomplete="handleSaveRequest(xhr, status, args)"/>
       
        <p:blockUI block="centroPantalla" trigger="botonConfirmar" >
            <p:graphicImage value="../resources/imagenes/loading.gif"/>  
        </p:blockUI>
        
    </p:panel>


    <script type="text/javascript">
        function handleSaveRequest(xhr, status, args)
        {
            if(args.modificacionReady)
            {
                setTimeout(function () {
                    window.location = args.view;
                }, 2000);
            }
            else{
                setTimeout(function () {
                    window.location = args.fail;
                }, 2000); 
            }
        }
    </script>
</ui:composition>
