<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/resources/templates/templateBasico.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
    <head>
        <title>Baja Inmueble</title>
    </head>
    
    <ui:define name="west" class="menuContainer">
        <ui:include src="/componentesPrincipales/menu.xhtml"></ui:include>
    </ui:define>
    
    <ui:define name="content">
        <h:form id="form">
            
            <p:panel id="panelConfirmacion" header="Confirme eliminacion del inmueble">
                <h:panelGrid columns="3" columnClasses="label, value" id="contenido">
                    <p:outputLabel for="tipoConfirmacion" value="Tipo: " />
                    <h:outputText id="tipoConfirmacion" value="#{bajaInmuebleController.tipo}" />    
                    <p:message for="tipoConfirmacion" display="icon"/>

                    <p:outputLabel for="propietConfirmacion" value="Propietario: " />
                    <h:outputText id="propietConfirmacion" value="#{bajaInmuebleController.inmBorrar.propietario.nombre} #{bajaInmuebleController.inmBorrar.propietario.apellido}" />
                    <p:message for="propietConfirmacion" display="icon"/>

                    <p:outputLabel for="ubicConfirmacion" value="Ubicado en:" />
                    <h:outputText id="ubicConfirmacion" value="#{bajaInmuebleController.inmBorrar.ubicacion.localidad.nombre}, #{bajaInmuebleController.inmBorrar.ubicacion.provincia.nombre}" />
                    <p:message for="ubicConfirmacion" display="icon"/>   

                    <p:outputLabel for="fechacargaConfirmacion" value="Cargado el dia: " />
                    <h:outputText id="fechacargaConfirmacion" value="#{bajaInmuebleController.inmBorrar.fechaCarga}" />
                    <p:message for="fechacargaConfirmacion" display="icon"/>

                    <p:outputLabel for="precioVentaConfirmacion" value="Precio de venta:" />
                    <h:outputText id="precioVentaConfirmacion" value="$#{bajaInmuebleController.inmBorrar.precioVenta}"/>
                    <p:message for="precioVentaConfirmacion" display="icon"/>

                </h:panelGrid>
                
                <h:panelGrid columns="1">
                    <p:outputLabel value="Esta seguro que desea eliminar este inmueble?" />
                    <p:commandButton id="botonConfirmar" value="Confirmar" action="#{bajaInmuebleController.borrarInmueble}"
                                     process="@this" oncomplete="PF('transaccShow').show()" update="ovPanel" />
                </h:panelGrid>
                
                <p:blockUI block="centroPantalla" trigger="botonConfirmar" widgetVar="block" blocked="#{bajaInmuebleController.loaderActivo}">
                        <p:graphicImage library="imagenes" name="load.gif"/>  
                </p:blockUI>
                
            </p:panel>
            
            
            <p:dialog widgetVar="transaccShow" id="ovPanel" showEffect="fade" hideEffect="fade" closable="false" draggable="false" modal="false" visible="false" > 
                <p:outputPanel id="msjDisplay" style="text-align:center;">
                    <p:panelGrid  columns="1" rendered="true" columnClasses="value">
                        
                        <h:outputText value="#{bajaInmuebleController.mensaje}" />
                        <p:commandButton id="botonAceptar" value="Aceptar" actionListener="#{bajaInmuebleController.limpiarCampos}" onclick="window.open('/metodosagiles/inicio.xhtml', '_self')" />

                  </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
            
        </h:form>
    </ui:define>

    <script type="text/javascript">
        function handleSaveRequest(xhr, status, args)
        {
            if(args.bajaReady)
            {
                setTimeout(function () {
                    window.location = args.view;
                }, 500);
            }
            else{
                setTimeout(function () {
                    window.location = args.fail;
                }, 500); 
            }
        }
    </script>
</ui:composition>