<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/resources/templates/templateBasico.xhtml">


    <ui:define name="content" >  
        <h:form>
            <h:outputLink value="javascript:void(0)" onclick="PF('dlg').show();" title="login">

            </h:outputLink>
            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

            <p:dialog header="Login" widgetVar="dlg" resizable="false" visible="true" draggable="false" closable="false">
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="username" value="Username:" />
                    <p:inputText id="username" value="#{userLoginView.username}" required="true" label="username" requiredMessage="Se debe ingresar un usuario"/>

                    <h:outputLabel for="password" value="Password:" />
                    <p:password id="password" value="#{userLoginView.password}" required="true" label="password" requiredMessage="Se debe ingresar una password" />

                    <f:facet name="footer">
                        <p:commandButton value="Login" update="growl" actionListener="#{userLoginView.login}"
                                         oncomplete="handleLoginRequest(xhr, status, args)" />
                    </f:facet>  
                </h:panelGrid>
            </p:dialog>
        </h:form>
        <script type="text/javascript">
            function handleLoginRequest(xhr, status, args)
            {
                if (args.validationFailed || !args.loggedIn)
                {
                    PF('dlg').jq.effect("shake", {times: 5}, 100);
                }
                else
                {
                    PF('dlg').hide();
                    $('#loginLink').fadeOut();
                    setTimeout(function () {
                        window.location = args.view;
                    }, 500);
                }
            }
        </script>
    </ui:define>




</ui:composition>

