<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"  
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form class="menuContainer">
        <h:outputStylesheet name="css/menuLayout.css" />
        <p:growl id="messages" showDetail="true" />
        <p:menu model="#{menuController.model}" class="menu"/>
    </h:form>
</ui:composition>
